body {
    background-color: #3c3c3c;
}

.mainDiv {
    border: 2px solid deeppink;
    background-color: darkslateblue;
    border-radius: 10px;
    box-shadow: mediumpurple 5px 5px 20px;
    margin-top: 20px;
}
.mainPanel{
    padding: 30px;
}

.mainPanel a{
    height: 60px;
    margin: 25px 0;
}

.secondgroup{
    margin-top: 50px;
}

.subrayado {
    border-bottom: 2px solid deeppink;
    margin-bottom: 20px;
    color: deeppink;
    text-shadow: mediumpurple 5px 5px 20px;
}

.maintext {
    color: deeppink;
    text-shadow: mediumpurple 5px 5px 20px;
    font-size: medium;
}

table {
    background-color: mediumpurple;
}

.form-style {
    background-color: mediumpurple;
    padding: 15px 5px;
    border-radius: 10px;
}

.buttons-box {
    margin: 15px 0;
}
.table-curved {
    border-collapse: separate;
    border: solid #ddd 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}

.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}

.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}

.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}

.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}